// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$background-color: #343a40;

// .scroll {
   
// }

.table {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}

.center {
    
  }

.a_post {
    border: 1px solid black;
    align: center;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.caption {
    font: bold;
}