// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$background-color: #343a40;
@import "font-awesome";

.body {
    background-color: #343a40;
}
.table {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}

.imagey {
    object-fit: cover;
    width: 475px;
    height: 400px;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    // width: 50%;
}

.left_index {
    margin-top:50px;
    float:left;
    width:100px;
    scroll-margin: infinite;
}

.right_index{
    margin-top:50px;
    float:right;
    width:1000px;
    height:100px;
}

.filter_button{
    width:150px;
    align-content: center;
    margin-top:8px;
}

.posty {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: block;
}

.tabley {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: none;
    display: block;
    height: 10px;
}

.link-button {
    text-decoration: none;
}

.btn-group {
    margin-right: 5px;
    float: right;
}

.caption {
    font: bold;
}

.comment {
    color: lightblue
}

.new-button{
    font-family: 'Open Sans', sans-serif;
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #343a40;
}

.about-button{
    font-family: 'Open Sans', sans-serif;
	position:fixed;
	width:60px;
	height:60px;
	bottom:120px;
	right:40px;
	background-color:#3498DB;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #343a40;
}

.my-float{
	margin-top:22px;
}

#form-container{
    width:960px;
    margin:0 auto;
    box-shadow: 0 0 12px black;
    padding:20px 0;
  }

.stars{ 
    display:inline; 
}