// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clear{
clear:both;
} 
.main{
    width:1000px;
    
}
.left {
    float:left;
    width: 150px;
}
.right{
    float:right;
    width:1000px;
    height:1000px;
}